services:
  app:
    container_name: app
    restart: unless-stopped
    build:
      context: .
      dockerfile: ./Dockerfile
    env_file:
      - .env
    ports:
      - 8000:80
    tty: true
    working_dir: /var/www/
    volumes:
      - /var/www/vendor
      - ./:/var/www
    networks:
      - app_network

  queue:
    container_name: queue
    restart: unless-stopped
    build:
      context: .
      dockerfile: ./Dockerfile
    environment:
      CONTAINER_ROLE: queue
    env_file:
      - .env
    depends_on:
      - app
    networks:
      - app_network

  scheduler:
    container_name: scheduler
    restart: unless-stopped
    build:
      context: .
      dockerfile: ./Dockerfile
    environment:
      CONTAINER_ROLE: scheduler
    env_file:
      - .env
    depends_on:
      - app
    networks:
      - app_network

networks:
  app_network:
    driver: bridge
